<header class="header">

    <nav class="header__menu">

        <a href="./index.html">
            <img class="menu__logo" src="./assets/images/Mägo_de_Oz_logo.svg" alt="Logotipo del grupo">
        </a>

        <ul class="menu__options-menu">
            <li class="options-menu__elto"><a href="#" class="elto__link">categoria</a></li>
            <li class="options-menu__elto"><a href="#" class="elto__link">presentación</a></li>
            <li class="options-menu__elto"><a href="#" class="elto__link">enlaces</a></li>
        </ul>

        <ul class="menu__rrss-menu">
            <li class="rrss-menu__rrss-elto"><a href="https://www.youtube.com/channel/UC6nMOIbArzvza6npl0irIWw">
                    <img class="rrss-elto__logo" src="./assets/images/youtube_icon.png"
                        alt="Logotipo enlace a canal de youtube">
                </a></li>
            <li class="rrss-menu__rrss-elto"><a href="https://www.tiktok.com/@magodeozoficial">
                    <img class="rrss-elto__logo" src="./assets/images/tick_tock_icon.png"
                        alt="Logotipo enlace a canal de tick tock">
                </a></li>
            <li class="rrss-menu__rrss-elto"><a href="https://www.instagram.com/magodeozoficial/">
                    <img class="rrss-elto__logo" src="./assets/images/instagram_icon.png"
                        alt="Logotipo a canal de instagram">
                </a></li>
            <li class="rrss-menu__rrss-elto"><a href="https://www.facebook.com/magodeozoficial">
                    <img class="rrss-elto__logo" src="./assets/images/facebook_icon.png"
                        alt="Logotipo a canal de facebook">
                </a></li>
        </ul>
    </nav>

</header>