<header id="header" class="header">

    <nav class="header__menu">

        <a  href="./index.html">
            <img class="menu__logo" src="./assets/images/Mägo_de_Oz_logo.svg" alt="Logotipo del grupo">
        </a>
        
        <p id="menu-btn" class="menu__open-btn">menú</p>
        <ul id="menu-options" class="menu__options-menu hide">
            <li class="options-menu__elto"><a href="./presentacion.html" >presentación</a></li>
            <li class="options-menu__elto"><a href="./enlaces.html" >enlaces</a></li>
            <li class="options-menu__elto"><a href="#" >discografía</a></li>
            <li class="options-menu__elto"><a href="#" >contacto</a></li>
            <li class="options-menu__elto"><a href="#" >galería</a></li>
            <li class="options-menu__elto"><a href="#" >tienda</a></li>
        </ul>

        <ul class="menu__rrss-menu">
            <li class="rrss-menu__rrss-elto"><a href="https://www.youtube.com/channel/UC6nMOIbArzvza6npl0irIWw">
                    <img class="rrss-elto__logo" src="./assets/images/youtube_icon.png"
                        alt="Logotipo enlace a canal de YouTube"
                        title="Siguenos en YouTube">
                </a></li>
            <li class="rrss-menu__rrss-elto"><a href="https://www.tiktok.com/@magodeozoficial">
                    <img class="rrss-elto__logo" src="./assets/images/tick_tock_icon.png"
                        alt="Logotipo enlace a canal de Tick Tok"
                        title="Siguenos en Tick Tok">
                </a></li>
            <li class="rrss-menu__rrss-elto"><a href="https://www.instagram.com/magodeozoficial/">
                    <img class="rrss-elto__logo" src="./assets/images/instagram_icon.png"
                        alt="Logotipo a canal de Instagram"
                        title="Siguenos en Instagram">
                </a></li>
            <li class="rrss-menu__rrss-elto"><a href="https://www.facebook.com/magodeozoficial">
                    <img class="rrss-elto__logo" src="./assets/images/facebook_icon.png"
                        alt="Logotipo a canal de Facebook"
                        title="Siguenos en Facebook">
                </a></li>
        </ul>
    </nav>

</header>