@font-face {
    font-family: 'font-rock'; /*a name to be used later*/
    src: url('../assets/font/rock/Serialpublicationdemo-qxo1.ttf'); /*URL to font*/
    }
@font-face {
    font-family: 'font-punk-rock'; /*a name to be used later*/
    src: url('../assets/font/punk-rock/PunkrockshowRegular-xP4m.ttf'); /*URL to font*/
    }