<main class="presentacion">

    <!-- <div class="header-image"></div> -->

    <section class="presentacion__content">

        <article class="content__intro">
            <h1 class="intro__title">mägo de Oz</h1>
            <p>
                <b>Mägo de Oz</b> es una banda española de <i>Folk Metal</i> fundada en Madrid el 7 de julio de 1988 por
                <b>Txus di
                    Fellatio</b>. Consagrada como una de las bandas más reconocidas e importantes del Heavy Metal en
                español, a
                su vez siendo la más popular e influyente del Folk Metal hispano.
            <p>
                La banda saltó al éxito en 1998 con el álbum <b><i>La leyenda de La Mancha</i></b>, llegando a las
                listas de éxitos
                musicales de España con canciones como <b><i>«Molinos de viento»</i></b> o posteriormente, con su álbum
                <b><i>Finisterra,
                        «Fiesta pagana»</i></b>. La fama del grupo y su éxito, tanto en la prensa especializada como en
                los medios
                convencionales a nivel nacional e internacional, especialmente en los lineales de cintas de gasolinera y
                en Hispanoamérica, se hizo aún mayor tras la publicación del disco <i><b>Gaia</i></b> en 2003, siendo el
                primer
                trabajo de una trilogía conceptual completada con los discos <i><b>Gaia II: La voz dormida</i></b> en
                2005 y <i><b>Gaia III:
                        Atlantia</i></b> en 2010, de igual o mayor éxito.
            </p>
            <p>
                Destaca mucho la escenografía de sus conciertos, que incorporan desde barcos piratas hasta catedrales
                medievales, pirotecnia y varias puestas en escena inéditas en el panorama actual del Metal en español
                como un miembro andante, así como la amplia temática lírica de sus composiciones, que varía en
                trasfondo, sea romántico, histórico, literatura, pagano, fantástico o de crítica política y social,
                muchas veces manejando historias conceptuales, o directamente sin sentido
            </p>
            <p>
                Desde 1998 (<i><b>La Leyenda de la Mancha</i></b>) hasta 2010 (<i><b>Gaia III: Atlantia<i><b>) es
                                considerado como la época dorada
                                de Mägo de Oz, siendo 2005 y 2006 (<i><b>Gaia II: La Voz Dormida</i></b>) el punto más
                            alto de fama y reconocimiento
                            de su historia.
            </p>
            <p>
                En el 2008, se les entregó el disco de diamante por superar el millón de copias vendidas de toda su obra
                discográfica solamente en España. Se calcula que habrían vendido más de tres millones de discos
                entre España y Latinoamérica hasta el año 2013.
            </p>
            <p>
                A lo largo de su carrera, Mägo de Oz ha sufrido numerosos cambios de integrantes, siendo Txus di
                Fellatio y Mohamed, los únicos miembros originales que continúan en la banda.
            </p>
        </article>


        <div class="content__info">

            <div class="content__menu">
                <img id="0" class="menu__icon icon-active" src="./assets/images/noticias.svg" alt="">
                <img id="1" class="menu__icon" src="./assets/images/grupo.svg" alt="">
                <img id="2" class="menu__icon" src="./assets/images/conciertos.svg" alt="">
                <img id="3" class="menu__icon" src="./assets/images/discografia.svg" alt="">
                <img id="4" class="menu__icon" src="./assets/images/galeria.svg" alt="">
                <img id="5" class="menu__icon" src="./assets/images/links.svg" alt="">
                <img id="6" class="menu__icon" src="./assets/images/tienda.svg" alt="">
                <img id="7" class="menu__icon" src="./assets/images/contacto.svg" alt="">
            </div>

            <article class="info__block">

                <figure>
                    <img class="info__img" src="./assets/images/entrevista_40_prin.png"
                        alt="Imagen sobre nutrición y alimentación saludables">
                    <figcaption>© Mago de Öz, Oficial</figcaption>
                </figure>

                <div class="info__description-container">

                    <h3 class="info__title"><a href="./categoria.html">noticias</a></h3>
                    <p>
                        Navega en nuestra sección de noticias para descubrir nuestra repercusión en los medios y
                        estar al día de las últimas novedades.
                    </p>
                </div>

            </article>

            <article class="info__block hide">

                <figure>
                    <img class="info__img" src="./assets/images/OIP.jpg"
                        alt="Imagen sobre nutrición y alimentación saludables">
                    <figcaption>© Mago de Öz, Oficial</figcaption>
                </figure>

                <div class="info__description-container">

                    <h3 class="info__title"><a href="#">el grupo</a></h3>
                    <p>
                        Conoce nuestra historia, quienes somos, de donde venimos o a donden vamos,
                        no dejes de visitar nuestra sección más personal.
                    </p>
                </div>

            </article>

            <article class="info__block hide">

                <figure>
                    <img class="info__img" src="./assets/images/proximos_conciertos.png"
                        alt="Imagen sobre nutrición y alimentación saludables">
                    <figcaption>© Mago de Öz, Oficial</figcaption>
                </figure>

                <div class="info__description-container">

                    <h3 class="info__title"><a href="#">conciertos</a></h3>
                    <p>
                        Si estás buscando fecha para venir a vernos actuar, aquí podrás ver nuestra gira, sedes,
                        horarios, ciudades, etc.
                    </p>
                </div>

            </article>

            <article class="info__block hide">

                <figure>
                    <img class="info__img" src="./assets/images/dismago.jpg"
                        alt="Imagen sobre nutrición y alimentación saludables">
                    <figcaption>© Mago de Öz, Oficial</figcaption>
                </figure>

                <div class="info__description-container">

                    <h3 class="info__title"><a href="#">discografía</a></h3>
                    <p>
                        Consulta todo nuestro trabajo desde el día que nació la banda con neustro primer álbum hasta el
                        hoy.
                    </p>
                </div>

            </article>

            <article class="info__block hide">

                <figure>
                    <img class="info__img" src="./assets/images/el_grupo.png"
                        alt="Imagen sobre nutrición y alimentación saludables">
                    <figcaption>© Mago de Öz, Oficial</figcaption>
                </figure>

                <div class="info__description-container">

                    <h3 class="info__title"><a href="#">galería multimedia</a></h3>
                    <p>
                        Ojea nuestras fotos y quizá te encuentres en alguna foto de neustros conciertos!! SUERTE!!
                    </p>
                </div>

            </article>

            <article class="info__block hide">

                <figure>
                    <img class="info__img" src="./assets/images/logo_mago_de_oz_by_jcalcaraz_dewehq5-fullview.jpg"
                        alt="Imagen sobre nutrición y alimentación saludables">
                    <figcaption>© Mago de Öz, Oficial</figcaption>
                </figure>

                <div class="info__description-container">

                    <h3 class="info__title"><a href="#">enlaces</a></h3>
                    <p>
                        Sección legal de nuestro sitio web, el origen de todo nuestro contenido web ajeno se encuentra a
                        un click.
                    </p>
                </div>

            </article>

            <article class="info__block hide">

                <figure>
                    <img class="info__img" src="./assets/images/golden-oz.jpg"
                        alt="Imagen sobre nutrición y alimentación saludables">
                    <figcaption>© Mago de Öz, Oficial</figcaption>
                </figure>

                <div class="info__description-container">

                    <h3 class="info__title"><a href="#">tienda</a></h3>
                    <p>
                        No dejes de visitar nuestra tienda para hacer ese regalo a tu amigo más rockero!!
                    </p>
                </div>

            </article>

            <article class="info__block hide">

                <figure>
                    <img class="info__img" src="./assets/images/contacto.jpg"
                        alt="Imagen sobre nutrición y alimentación saludables">
                    <figcaption>© Mago de Öz, Oficial</figcaption>
                </figure>

                <div class="info__description-container">

                    <h3 class="info__title"><a href="#">contacto</a></h3>
                    <p>
                        Si quieres que vayamos a actuar a donde desées, ponte en contacto con nosotros, ES GRATIS!!
                    </p>
                </div>

            </article>

        </div>

        <div class="content__grid-videos">

            <article class="grid-videos__container-video">
                <div class="container-video__video">
                    <iframe class="container-video__iframe-video" src="https://www.youtube.com/embed/WrahyjP9cxs"
                        name="Zeta explica su salida">
                    </iframe>
                </div>

            </article>

            <article class="grid-videos__container-video">
                <div class="container-video__video">
                    <iframe class="container-video__iframe-video" src="https://www.youtube.com/embed/pbY6N7ctL78"
                        name="Zeta - La voz dormida">
                    </iframe>
                </div>
            </article>

            <article class="grid-videos__container-video">
                <div class="container-video__video">
                    <iframe class="container-video__iframe-video" src="https://www.youtube.com/embed/diJjIDx-DKY"
                        name="Zeta - La voz dormida">
                    </iframe>
                </div>
            </article>

        </div>

    </section>

</main>