<main class="category">    

    <h1 class="category__title">ultimas noticas - mago de oz</h1>

    <div class="category__grid-categories">

        <article class="grid-categories__new">
            <figure class="new__img-container">
                <img class="new__image" src="./assets/images/recaida_zeta.png"
                    alt="Zeta no continúa con la banda">
                <figcaption class="new__img-copyright">© Mägo de Oz, Oficial</figcaption>
            </figure>
            <div class="new__intro">

                <h4 class="new__image-info">Por Daniel López - 30 de Marzo de 2024</h4>
                <h3><a class="new__blog-link" href="./detalle.html">Zeta no continúa con la banda</a></h3>
                <p class="new__blog-info">
                    Después de meses luchando Zeta, ha decidido no continuar en Mago y deja la puerta abierta a un
                    posible regreso en un futuro.
                </p>
            </div>
        </article>

        <article class="grid-categories__new">
            <figure class="new__img-container">
                <img class="new__image" src="./assets/images/entrevista_40_prin.png"
                    alt="Entrevista en los 40 principales">
                <figcaption class="new__img-copyright">© Mägo de Oz, Oficial</figcaption>
            </figure>
            <div class="new__intro">

                <h4 class="new__image-info">Por Juan Fernández - 30 de diciembre de 2023</h4>
                <h3><a class="new__blog-link" href="#">Entrevista en los 40 principales</a></h3>
                <p class="new__blog-info">
                    En esta entrevista la banda repasa las últimas participaciones españolas en Eurovisión. 
                </p>
            </div>
        </article>

        <article class="grid-categories__new">
            <figure class="new__img-container">
                <img class="new__image" src="./assets/images/gira.jpeg"
                    alt="Presentación gira 2024">
                <figcaption class="new__img-copyright">© Mägo de Oz, Oficial</figcaption>
            </figure>
            <div class="new__intro">

                <h4 class="new__image-info">Por Laura Gil - 16 de Noviembre de 2023</h4>
                <h3><a class="new__blog-link" href="#">Presentación gira 2024</a></h3>
                <p class="new__blog-info">
                    Mago de Oz inicia su gira en Madrid en una mañana repleta de rock y letras reivindicativas.
                </p>
            </div>
        </article>

        <article class="grid-categories__new">
            <figure class="new__img-container">
                <img class="new__image" src="./assets/images/mago_oz_veracruz.jpeg"
                    alt="Gran acogida en Veracruz">
                <figcaption class="new__img-copyright">© Mägo de Oz, Oficial</figcaption>
            </figure>
            <div class="new__intro">

                <h4 class="new__image-info">Por Ana Santos - 1 de Octubre de 2023</h4>
                <h3><a class="new__blog-link" href="#">Gran acogida en Veracruz</a></h3>
                <p class="new__blog-info">
                    Se acerca la presentación de Mägo de Oz en Veracruz, no te pierdas la fecha y la sede.
                </p>
            </div>
        </article>

        <article class="grid-categories__new">
            <figure class="new__img-container">
                <img class="new__image" src="./assets/images/noticia_visualizaciones.jpg"
                    alt="Superamos las 305.000 visualizaciones">
                <figcaption class="new__img-copyright">© Mägo de Oz, Oficial</figcaption>
            </figure>
            <div class="new__intro">

                <h4 class="new__image-info">Por Rosa Martín - 1 de Septiembre de 2023</h4>
                <h3><a class="new__blog-link" href="#">Superamos las 305.000 visualizaciones -</a></h3>
                <p class="new__blog-info">
                    En una semana el tema "Seremos Huracán" ha superado las 305.000 visualizacions. Muchas gracias por
                    vuestra confiancia.
                </p>
            </div>
        </article>

        <article class="grid-categories__new">
            <figure class="new__img-container">
                <img class="new__image" src="./assets/images/escucha-de-disco-mago-de-oz-2.jpg"
                    alt="100 afortunados escuchan Alicia en el Metalverso en directo">
                <figcaption class="new__img-copyright">© Mägo de Oz, Oficial</figcaption>
            </figure>
            <div class="new__intro">

                <h4 class="new__image-info">Por Rosa Martín - 27 de Agosto de 2023</h4>
                <h3><a class="new__blog-link" href="#">100 afortunados escuchan "Alicia en el Metalverso"
                        en directo</a></h3>
                <p class="new__blog-info">
                    100 afortunad@s nos visitaron ayer para escuchar en exclusiva «Alicia en el Metalverso». Gracias por
                    venir desde Vigo, Alicante, Córdoba, Pamplona… Y tantos sitios para disfrutar con nosotros.🤘
                </p>
            </div>
        </article>

        <article class="grid-categories__new">
            <figure class="new__img-container">
                <img class="new__image" src="./assets/images/WhatsApp-Image-2024-03-11-at-20.33.40.jpeg"
                    alt="Zeta no continua con la banda">
                <figcaption class="new__img-copyright">© Mägo de Oz, Oficial</figcaption>
            </figure>
            <div class="new__intro">

                <h4 class="new__image-info">Por Ana Santos - 12 de Julio de 2023</h4> 
                <h3><a class="new__blog-link" href="#">Zeta no continua con la banda</a></h3>
                <p class="new__blog-info">
                    después de meses luchando Zeta, ha decidido no continuar en Mago y deja la puerta abierta a un
                    posible regreso en un futuro.
                </p>
            </div>
        </article>

    </div>

    <ul class="category__list">
        <li class="list__elto"><a href="#">el grupo</a></li>
        <li class="list__elto"><a href="#">próximos conciertos</a></li>
    </ul>

    <ul class="category__paginator">
        <li class="paginator__new-page selected"><a href="#paginator">1</a></li>
        <li class="paginator__new-page"><a href="#paginator">2</a></li>
        <li class="paginator__new-page"><a href="#paginator">3</a></li>
        <li class="paginator__new-page"><a href="#paginator">...</a></li>
    </ul>

</main>