<footer id="footer" class="footer">

    <div class="footer__copyright-container">
        <div class="footer__copyright-continer">
            <p class="footer__copyright">2023-2024 | Web con fines didácticos y divulgativos</p>
            <p class="footer__copyright">Autor | Ángel de Lucas Gil</p>
            <p class="footer__copyright">UOC | Máster en Desarrollo de sitios y aplicacions web</p>
        </div>
    </div>

    <ul class="footer__rrss-menu">
        <li class="rrss-menu__rrss-elto"><a href="https://www.youtube.com/channel/UC6nMOIbArzvza6npl0irIWw">
                <img class="rrss-elto__logo" src="./assets/images/youtube_icon.png"
                    alt="Logotipo enlace canal de YouTube" title="Siguenos en YouTube">
            </a></li>
        <li class="rrss-menu__rrss-elto"><a href="https://www.tiktok.com/@magodeozoficial">
                <img class="rrss-elto__logo" src="./assets/images/tick_tock_icon.png"
                    alt="Logotipo enlace canal de Tick Tok" title="Siguenos en Tick Tok">
            </a></li>
        <li class="rrss-menu__rrss-elto"><a href="https://www.instagram.com/magodeozoficial/">
                <img class="rrss-elto__logo" src="./assets/images/instagram_icon.png"
                    alt="Logotipo canal de Instagram" title="Siguenos en Instagram">
            </a></li>
        <li class="rrss-menu__rrss-elto"><a href="https://www.facebook.com/magodeozoficial">
                <img class="rrss-elto__logo" src="./assets/images/facebook_icon.png" alt="Logotipo canal de Facebook"
                    title="Siguenos en Facebook">
            </a></li>
    </ul>

    <ul class="footer__legal-menu">
        <li class="legal-menu__elto"><a href="#footer" class="elto__legal-link">Política de privacidad</a></li>
        <li class="legal-menu__elto"><a href="#footer" class="elto__legal-link">Política de <i>cookies</i></a></li>
        <li class="legal-menu__elto"><a href="./enlaces.html" class="elto__legal-link">Aviso legal</a></li>
    </ul>

</footer>