<main class="detalle">

    <article class="detalle__content">
        <ul class="detalle__breadcrumbs">
            <li><a class="breadcrumbs__link" href="./index.html">Portada</a></li>
            <li><a class="breadcrumbs__link" href="./categoria.html">Últimas Noticias</a></li>
            <li><a class="breadcrumbs__link" href="./detalle.html">Recaída de Zeta</a></li>
        </ul>


        <div class="content__header">
            <figure>
                <img class="header__img" src="./assets/images/recaida_zeta.png"
                    alt="a salida de zeta de mägo de oz">
            </figure>


            <h1 class="header__title">la salida de zeta de mägo de oz</h1>
            <h4 class="header__author">Por Daniel López - 30 de Marzo de 2024 - Noticias</h4>

        </div>

        <p class="content__intro">
            Una auténtica pena, después de meses luchando <b>Zeta</b> ha decidido no continuar en Mago y deja la puerta
            abierta
            a un posible regreso en un futuro. Un honor haber podido disfrutar de un tipo afable, tranquilo y con una
            voz preciosa. <b><i>¡¡Te vamos a echar mucho de menos tío!!</i></b>
        </p>

        <h2 class="content__title">Ellos lo haran mejor que yo</h2>

        <p>
            Para los conciertos del Diabulus en México le sustituirán <b>TETE NOVOA, RAFA BLAS , CHARLY LOPEZ y CARLOS
                ESCOBEDO</b>.
        </p>

        <p>
            En los conciertos de El Salvador y Guatemala en breve os diremos exactamente quienes estarán. Sentimos de
            todo corazón las molestias que pueda ocasionar este cambio pero la salud no conoce de compromisos. Todo
            nuestro apoyo a <b>Zeta</b> y esperemos encontrarnos más pronto que tarde en el camino de baldosas
            amarillas.
        </p>

        <h2 class="content__title">Tu gran recorrido</h2>

        <ol class="content__list">
            <li>
                <b>1973-1995: Infancia e inicios:</b> <b><i>Javier Domínguez Gregorio</i></b> nació el 31 de agosto de
                1973 en España.
                Comenzó a tener gusto por la música al empezar a tocar un teclado. A los 16 años de edad estuvo en su
                primer grupo musical.
            </li>
            <li>
                <b>1995-2012: Al otro lado:</b> En 1995, Javier se integró como vocalista del grupo de hard rock
                <b><i>«Jake
                        Mate»</i></b>. En 2012, Javier fue escogido como el nuevo vocalista de la banda Mägo de Oz, por
                lo que
                abandonó Al otro Lado.
            </li>
            <li>
                <b>2012-2023: Mägo de Oz:</b> las actividades al aire libre, como andar en
                bicicleta, nadar o hacer senderismo, son excelentes maneras de
                ejercitarse y disfrutar de la naturaleza al mismo tiempo.
                El 23 de junio de 2022, <b>Zeta</b> sufrió de una infección intestinal y en ese momento se empezó a
                forjar su
                retirada del grupo.
            </li>
            <li>
                <b>2023: Z Legacy:</b> El 25 de septiembre de 2023, Javier Domínguez, conocido artísticamente como
                <b>Zeta</b>,
                presentó su nuevo proyecto, un concepto musical innovador que busca alejarlo del folk-celta-rock que
                estuvo interpretando durante una década. Busca un ambiente sonoro más moderno, tecnológico e innovador,
                incluso en su proceso de composición.<b>Z Legacy</b>. Este nuevo grupo, formado en colaboración con un
                equipo
                en su mayoría Mexicano y de forma independiente, promete explorar nuevas fronteras musicales y ofrecer a
                los fanáticos una experiencia única.
            </li>
        </ol>




        <div class="content__grid-videos">

            <article class="grid-videos__container-video">
                <div class="container-video__video">
                    <iframe class="container-video__iframe-video" src="https://www.youtube.com/embed/t7ChwO0oJ-A"
                        name="Zeta - su salida">
                    </iframe>
                </div>

                <div class="container-video__description">
                    <h2 class="description__title">Zeta - su salida</h2>
                </div>
            </article>

            <article class="grid-videos__container-video">
                <div class="container-video__video">
                    <iframe class="container-video__iframe-video" src="https://www.youtube.com/embed/JDQIPNpCxmc"
                        name="Zeta - La voz dormida">
                    </iframe>
                </div>

                <div class="container-video__description">
                    <h2 class="description__title">Zeta - La voz dormida</h2>
                </div>
            </article>

        </div>

        <h2 class="content__title">Despedida</h2>

        <div class="content__letter">

            <p>
                «Hola, amigos.
                Me dirijo a vosotros por un motivo difícil de exponer dado que, tras este tiempo en el que he estado
                recuperándome de mi operación de espalda, he sufrido una nueva traba en mi salud (la ansiedad no tiene
                edad)
                que, aunque no es grave y en poco tiempo estaré recuperado al 100%, ha hecho que, en el fondo, me haya
                dado
                cuenta de que no debo afrontar una nueva gira con Mago de Oz y tampoco quiero, honestamente, perjudicar
                a
                mis compañeros por alargar más mi decisión. No podría haber tenido mejor suerte que entrar en 2012 como
                vocalista del grupo más grande y famoso del país, lo que me ha permitido vivir experiencias que nunca
                soñé
                tener. ¿Quién no ha soñado con cantar para decenas de miles de personas?, ¿con recorrer medio mundo
                viajando
                durante meses? Son experiencias imposibles de olvidar, pero, como os digo, creo que ha llegado el
                momento de
                cambiar de miras y abrir nuevos caminos en mi vida como músico y cantante: quizás explorar otros
                estilos,
                quizás hacer mi propia música…
            </p>
            <p>
                Supongo que las despedidas no son agradables para nadie, pero mis compañeros de MÄGO y yo intentaremos
                que
                no os quedéis con un mal sabor de boca y no desechamos la posibilidad de volver a estar juntos sobre un
                escenario en un futuro, aunque sea para recordarme que el camino de baldosas amarillas va a seguir
                estando
                ahí, y que siempre será un lugar mágico para mí. Les deseo tanto o más éxito como el cosechado hasta hoy
                y
                espero que vosotros, los que nos habéis escuchado durante esta última década, sigáis apoyando con
                vuestra
                imponente presencia y los gritos más altos que podáis dar a vuestro/mi querido grupazo Mägo de Oz.
                Un abrazo de corazón, amigos.»
                Javier Domínguez <b><i>«Zeta»</i></b>
            </p>
        </div>

    </article>


    <section class="detalle__recents-articles">

        <h2 class="recents-articles__title">artículos recientes - noticias</h2>

        <article class="recents-articles__input">
            <figure>
                <img class="recents-articles__img" src="./assets/images/entrevista_40_prin.png"
                    alt="Entrevista 40 principales">
            </figure>

            <div>
                <h3><a class="recents-articles__blog-link" href="#section">Entrevista 40 principales</a></h3>
            </div>
        </article>

        <article class="recents-articles__input">
            <figure>
                <img class="recents-articles__img" src="./assets/images/gira.jpeg"
                    alt="Gira 2024">
            </figure>

            <div>
                <h3><a class="recents-articles__blog-link" href="#section">Gira 2024</a></h3>
            </div>
        </article>

        <article class="recents-articles__input">
            <figure>
                <img class="recents-articles__img" src="./assets/images/mago_oz_veracruz.jpeg"
                    alt="Presentación en Veracruz">
            </figure>

            <div>
                <h3><a class="recents-articles__blog-link" href="#section">Presentación en Veracruz</a></h3>
            </div>
        </article>

        <div class="recents-articles__categories">

            <ul class="categories__list">
                <li><a href="./categoria.html">noticias</a></li>
                <li><a href="#">el grupo</a></li>
                <li><a href="#">conciertos</a></li>
            </ul>
        </div>
    </section>

</main>