<main id="portada" class="portada">

    <section id="presentation-section" class="portada__section">
        <div class="portada__main">
            <h1 class="main__title"><a href="./categoria.html">ultimas noticias</a></h1>
            <img id="img-0" sizes="640" class="portada__image" src="./assets/images/Mago de Oz.jpg"
                alt="Logotipo del grupo">
            <img id="img-1" class="portada__image hide" src="./assets/images/grupo.jpg" alt="Logotipo del grupo">
            <img id="img-2" class="portada__image hide" src="./assets/images/concierto.jpg" alt="Logotipo del grupo">
            <div class="main__group-pages">
                <div id="0" class="group-pages__icon active"></div>
                <div id="1" class="group-pages__icon"></div>
                <div id="2" class="group-pages__icon"></div>
            </div>
        </div>
    </section>

    <section id="news-section" class="portada__section">
        <h1><a class="section__title" href="./categoria.html">últimas noticias</a></h1>
        <p class="section__intro">después de meses luchando Zeta ha decidido no continuar aunque deja la puerta abierta
        </p>
        <div class="portada__main">
            <h1 class="main__title"><a href="./detalle.html">Zeta no continua con la banda</a></h1>
            <img class="portada__image" src="./assets/images/zeta.jpg" alt="Logotipo del grupo">
            <img class="portada__image hide" src="./assets/images/entrevista_40_prin.png" alt="Logotipo del grupo">
            <img class="portada__image hide" src="./assets/images/gira.jpeg" alt="Logotipo del grupo">
            <img class="portada__image hide" src="./assets/images/mago_oz_veracruz.jpeg" alt="Logotipo del grupo">
            <div class="main__group-pages">
                <div id="0" class="group-pages__icon active"><a href="#"></a></div>
                <div id="1" class="group-pages__icon"><a href="#"></a></div>
                <div id="2" class="group-pages__icon"><a href="#"></a></div>
                <div id="3" class="group-pages__icon"><a href="#"></a></div>
            </div>
        </div>
    </section>

    <section id="group-section" class="portada__section">
        <h1><a class="section__title" href="">conoce mago de oz</a></h1>
        <p class="section__intro">Conoce un poco más a cada uno de los integrantes del grupo en la actualidad sin
            olvidar los que ya no están
            y
            ayudaron a forjar esta leyenda viva</p>
        <div class="portada__main">
            <h1 class="main__title"><a href="">la historia de una leyenda</a></h1>
            <img class="portada__image" src="./assets/images/grupo.jpg" alt="Logotipo del grupo">
            <div class="main__group-pages">
                <div id="0" class="group-pages__icon"><a href="#"></a></div>
                <div id="1" class="group-pages__icon"><a href="#"></a></div>
                <div id="2" class="group-pages__icon"><a href="#"></a></div>
                <div id="3" class="group-pages__icon"><a href="#"></a></div>
            </div>
        </div>
    </section>

    <section id="events-section" class="portada__section">
        <h1><a class="section__title" href="">próximos conciertos</a></h1>
        <p class="section__intro">Consulta las fechas de nuestros próximos conciertos</p>
        <div class="portada__main">
            <h1 class="main__title"><a href="">madrid</a></h1>
            <img class="portada__image" src="./assets/images/concierto.jpg" alt="Logotipo del grupo">
            <div class="main__group-pages">
                <div id="0" class="group-pages__icon"><a href="#"></a></div>
                <div id="1" class="group-pages__icon"><a href="#"></a></div>
                <div id="2" class="group-pages__icon"><a href="#"></a></div>
                <div id="3" class="group-pages__icon"><a href="#"></a></div>
            </div>
        </div>
    </section>
</main>