<main class="enlaces">

    <section class="enlaces__container">

        <h1>INFORMACIÓN LEGAL SOBRE CONTENIDOS</h1>
        <p>
            Todos los recursos que se pueden visualizar en esta web han sido obtenidos de los siguientes 
            medios:
        </p>

        
        <ol class="enlaces__list">
            <li class="list__elto"><a href="https://magodeozoficial.com/"> Mägo de Oz, Web oficial</a></li>
            <li class="list__elto"><a href="https://www.pinterest.es/"> Imágenes Background - Pinterest</a></li>
            <li class="list__elto"><a href="https://icon-icons.com/"> Iconos menú vista presentación - Icons Web</a></li>
            <li class="list__elto"><a href="https://www.freepik.es/"> Iconos redes sociales - Free Pick Web</a></li>
            <li class="list__elto"><a href="https://es.wikipedia.org/wiki/M%C3%A4go_de_Oz#"> Información - Wikipedia</a></li>
            <li class="list__elto"><a href="https://www.fontspace.com/"> Fuentes de texto - Font Space</a></li>
            <li class="list__elto"><a href="https://www.youtube.com/channel/UC6nMOIbArzvza6npl0irIWw"> Vídeos - YouTube</a></li>
            <li class="list__elto"><a href="https://magodeozoficial.com/zeta-sufre-una-recaida-y-no-continuara-en-mago-de-oz-por-motivos-de-salud/"> Noticia - Zeta no continua con la banda</a></li>
            <li class="list__elto"><a href="https://los40.com/2024/04/10/mago-de-oz-sobre-eurovision-tiene-que-ir-gente-mas-joven-y-no-la-mieda-que-estan-mandando-ultimamente/"> Noticia - Entrvista 40 principales</a></li>
            <li class="list__elto"><a href="https://www.msn.com/es-es/entretenimiento/musica/mago-de-oz-inicia-su-gira-en-madrid-en-una-ma%C3%B1ana-repleta-de-rock-y-letras-reivindicativas/ar-BB1lEQai"> Noticia - Presentación gira 2024</a></li>
            <li class="list__elto"><a href="https://www.diariodexalapa.com.mx/doble-via/concierto-de-mago-de-oz-en-veracruz-sedes-fechas-y-horarios-11774260.html#!"> Noticia - Presentación en Veracruz</a></li>
        </ol>

        <p>
            <b>Nota:</b> Este sito web ha sido diseñado con fines didácticos y divulgativos para la <b>UOC</b> por <b>Ángel de Lucas Gil</b>.
        </p>

        <p>
            La web está diseñada emplando el boilerplate de <b>Parcel</b> aplicando criterios, a nivel técnico, basados en los conocmientos
            adquiridos a partir de la documentación aportada en la PEC por la UOC.
        </p>
        <p>
            Los contenidos (fotos, vídeos o textos) mostrados en la web pueden no corresponderse con la realidad de la banda Mägo de Oz. En la actualidad los miembros 
            de la banda no son los que la forjaron y esto no se refleja en la web.
        </p>
    </section>
</main>